<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penn State Food Locator</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
<script>
    function getSearch()
    {
        var url = "http://localhost:8000";
        var endpoint = "/search";
        var http = new XMLHttpRequest();
        var query = document.getElementById("search").value;
        var type = searchType.options[searchType.selectedIndex].text;
        var jsonObj = {"Query": query , "Type" : type};
        var jsonString = JSON.stringify(jsonObj);


        http.open("POST", url + endpoint, true);
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {
        var DONE = 4;
        var OK = 200;

        if (http.readyState == DONE && http.status == OK && http.responseText)
        {
            var replyString = http.responseText;
            console.log(replyString)
            var responseObj = JSON.parse(replyString);
            var i = 0;
            for(i; i < 5; i++){
            var restelementname = "restaurantName" + i.toString();
            var elementname = "result" + i.toString();
            if(
                document.getElementById("restelementname").innerHTML = responseObj[0].name[0]
                document.getElementById("elementname").innerHTML = responseObj[0].address[0];
            }

        }

    };

    //Send Request
    http.send(jsonString);
}</script>

    <h2>Penn State Food Locator</h2>
    <label for="search">Search:</label>
    <input type="text" id="search" name="search">

                <select id="searchType" name="select1" onmousedown="if(this.options.length>5){this.size=5;}" onchange='this.size=0;' onblur="this.size=0;">
                    <option value="">Restaurant Name</option>
                    <option value="">Restaurant Type</option>
                    <option value="">Dining Option</option>
                </select>
<br>
    <button onclick="getSearch()">Search</button>
    <hr color="Blue">
<h5 id="restaurantName1"></h5>
<p id="result1">Search Results Appear Here</p>
<h5 id="restaurantName2"></h5>
<p id="result2"></p>
<h5 id="restaurantName3"></h5>
<p id="result3"></p>
<h5 id="restaurantName4"></h5>
<p id="result4"></p>
<h5 id="restaurantName5"></h5>
<p id="result5"></p>
</body>
</html>