<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penn State Food Locator</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
<script>
    function getSearch()
    {
        var url = "http://localhost:8000";
        var endpoint = "/search";
        var http = new XMLHttpRequest();
        var query = document.getElementById("search").value;
        var type = searchType.options[searchType.selectedIndex].text;
        var jsonObj = {"Query": query , "Type" : type};
        var jsonString = JSON.stringify(jsonObj);


        http.open("POST", url + endpoint, true);
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {
        var DONE = 4;
        var OK = 200;

        if (http.readyState == DONE && http.status == OK && http.responseText)
        {
            var replyString = http.responseText;
            console.log(replyString)
            var responseObj = JSON.parse(replyString);
            console.log(replyString)
            document.getElementById("result").innerHTML = "JSON received: " + replyString;
            document.getElementById("result").innerHTML += "<br>";

        }

    };

    //Send Request
    http.send(jsonString);
}</script>

    <h2>Penn State Food Locator</h2>
    <label for="search">Search:</label>
    <input type="text" id="search" name="search">
    <div style="margin: 0 auto; width: 200px;"> <label for="searchType">Type:</label>
                <select id="searchType" name="select1" onmousedown="if(this.options.length>5){this.size=5;}" onchange='this.size=0;' onblur="this.size=0;">
                    <option value="">Restaurant Type</option>
                    <option value="">Restaurant Name</option>
                    <option value="">Dining Option</option>
                </select>
            </div>
    <button onclick="getSearch()">Search</button>
    <hr color="Blue">
<p id="result">result json will be printed here</p>
</body>
</html>